/* ----------- Layout ----------- */
html,body {
	height: 97.55%;
}
body {
	background: url('../imagens/fundo.png'),
				url('../imagens/background.jpg') center no-repeat;
}

/* ----------- Barra de Navegação ----------- */
.barra {
	padding: 20px 0px 20px 0px;
	display: block;
}
.logo {
	background: url('../imagens/logo.png') no-repeat;
	height: 60px;
	width: 200px;
	display: block;
	background-size: contain;
	color: transparent;
}

.navbar-brand {
	padding: 0px 15px;
	margin-top: 0px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    margin-top: 12px;
}
.navbar-default .navbar-nav > li > a {
	color: #2E2E2E;
	font-weight: 700;
	margin: -5px 15px 0px 20px;
	letter-spacing: 3px;
}
.navbar-default .navbar-nav > li > a:hover {
	color: white;
	background: #0B610B;
}



/* ----------- Pagina Inicial ----------- */
.capa {
	padding-top: 100px;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100%;
}
.titulo {
	color: white;
	text-shadow:#000 1px -1px 2px, #000 -1px 1px 2px, #000 1px 1px 2px, #000 -1px -1px 2px;
	font-size: 70px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 40px;
}
.descricao {
	font-size: 20px;
	text-align: justify;
}
.botao {
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
}

/* ----------- Rodapé ----------- */
footer {
	background: #122A0A;
	color: white;
	padding: 5px 0px 5px 5px;
	position: relative;
	text-align: center;
}
.rodape {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 30px;
	width: 100%;
	padding-bottom: 35px;
}

/* ----------- Media Queries ----------- */
@media screen and (max-width: 500px) {
	.rodape {
		padding-top: 0px;
		padding-bottom: 50px;
	}
	.email {
		font-size: 14px;
	}
}

@media screen and (max-width: 700px) {
	.titulo {
	    font-size: 30px;
	    padding-top: 70px;
	}
	#pesquisa .form-control{
		width: 260px;
	}
	.titulo-form {
		margin-right: 0px;
		font-size: 27px;
	}
	.agradecimento {
		margin: 10px 0px 70px 0px;
	}
	.email {
		font-size: 14px;
	}
	
}

@media screen and (min-width: 700px) {
    .titulo {
	    font-size: 50px;
	    padding-top: 80px;
  	}
  	#pesquisa .form-control{
		width: 550px;
	}
	.titulo-form {
		margin-right: 200px;
	}
}

@media screen and (min-width: 992px) {
    .titulo {
	    font-size: 70px;
	    padding-top: 70px;
  	}

  	#pesquisa .form-control{
		width: 550px;
	}
	.titulo-form {
		margin-right: 400px;
	}
}

@media screen and (min-width: 1200px) {
    .titulo {
	    font-size: 80px; 
		padding-top: 100px;
  	}

  	#pesquisa .form-control{
		width: 550px;
	}
	.titulo-form {
		margin-right: 550px;
	}
}




