body {
    /*background: url('../imagens/backgroundIndex.jpg') fixed center no-repeat;*/
	background:	linear-gradient(50deg,#424242,#A4A4A4,white);

}
/*
@media screen and (max-width: 400px) {
    body {
    	background-size: 500%;
    }
}

@media screen and (min-width: 400px) {
    body {
    	background-size: 470%;
    }
}

@media screen and (min-width: 500px) {
    body {
    	background-size: 350%;
    }
}

@media screen and (min-width: 750px) {
    body {
    	background-size: 300%;
    }
}

@media screen and (min-width: 992px) {
    body {
    	background-size: 300%;
    }
}

@media screen and (min-width: 992px) {
    body {
    	background-size: 250%;
    }
}

@media screen and (min-width: 1200px) {
    body {
    	background-size: 150%;
    }
}
*/