/* ---------- Geral ---------- */
hr {
	border-color:#aaa;
	box-sizing:border-box;
	width:100%;
}

.texto {
	text-align: justify;
}
.botaoSel {
	width: 100%;
}

/* ---------- CSS: PIT ---------- */
.entradaNum {
	width: 100px;
	float: right;
}

.totalNum {
	text-align: center;
	width: 70px;
	float: right;
}

.saidaTotal {
	width: 100px;
	height:40px;
	float: right;
	text-align: center;
	font-size: 25px;
}

/* ---------- CSS: RIT ---------- */
.caixaRelatorio {
	width: 100%;
	height: 300px;
}

